---
--- 

@import "{{ site.theme }}";

.page-header {
  background-color: #1f2935; /* dark gray */
  background-image: none;
}

/* section header color */
.main-content h1 {
    background-color: #1f2935;
    color: #d2dfef;
}

.project-name,
.project-tagline {
  color: #d2dfef;
}

a {
  color: #2563eb; /* blue */
}

a:hover {
  color: #1d4ed8;
}

.btn {
  background-color: #2563eb;
  border-color: #2563eb;
}

.btn:hover {
  background-color: #1d4ed8;
}
