---
--- 

@import "{{ site.theme }}";

.page-header {
  background-color: #1f2935; /* dark gray */
  background-image: none;
}

/* section header color */
.main-content h1 {
    background-color: #1f2935;
    color: #f1f4f9;

    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

    padding: 2.5rem 1.5rem;

    text-align: center;
}

.project-name,
.project-tagline {
  color: #e9eef4;
}

a {
  color: #2563eb; /* blue */
}

a:hover {
  color: #1d4ed8;
}

.btn {
  background-color: #2563eb;
  border-color: #2563eb;
}

.btn:hover {
  background-color: #1d4ed8;
}
